[workspace]
members = [
  "ntex",
  "ntex-bytes",
  "ntex-codec",
  "ntex-io",
  "ntex-router",
  "ntex-rt",
  "ntex-service",
  "ntex-macros",
  "ntex-util",
]

[patch.crates-io]
ntex = { path = "ntex" }
ntex-bytes = { path = "ntex-bytes" }
ntex-codec = { path = "ntex-codec" }
ntex-io = { path = "ntex-io" }
ntex-router = { path = "ntex-router" }
ntex-rt = { path = "ntex-rt" }
ntex-service = { path = "ntex-service" }
ntex-macros = { path = "ntex-macros" }
ntex-util = { path = "ntex-util" }
