[workspace]
resolver = "2"
members = [
  "ntex",
  "ntex-bytes",
  "ntex-codec",
  "ntex-connect",
  "ntex-io",
  "ntex-http",
  "ntex-router",
  "ntex-rt",
  "ntex-service",
  "ntex-tls",
  "ntex-macros",
  "ntex-util",
  "ntex-glommio",
  "ntex-tokio",
  "ntex-async-std",
]

[patch.crates-io]
ntex = { path = "ntex" }
ntex-bytes = { path = "ntex-bytes" }
ntex-codec = { path = "ntex-codec" }
ntex-connect = { path = "ntex-connect" }
ntex-io = { path = "ntex-io" }
ntex-http = { path = "ntex-http" }
ntex-router = { path = "ntex-router" }
ntex-rt = { path = "ntex-rt" }
ntex-service = { path = "ntex-service" }
ntex-tls = { path = "ntex-tls" }
ntex-macros = { path = "ntex-macros" }
ntex-util = { path = "ntex-util" }

ntex-glommio = { path = "ntex-glommio" }
ntex-tokio = { path = "ntex-tokio" }
ntex-async-std = { path = "ntex-async-std" }

ntex-h2 = { git = "https://github.com/ntex-rs/ntex-h2.git" }
