[package]
name = "ntex-tls"
version = "3.2.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "An implementation of SSL streams for ntex backed by OpenSSL"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-openssl/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
edition = "2024"
rust-version = "1.88"

[lib]
name = "ntex_tls"
path = "src/lib.rs"

[lints]
workspace = true

[features]
default = []

# openssl
openssl = ["tls_openssl"]

# rustls support
rustls = ["tls_rustls", "tls_rustls/std"]
rustls-ring = ["tls_rustls", "tls_rustls/ring", "tls_rustls/std"]

[dependencies]
ntex-bytes = { workspace = true }
ntex-io = { workspace = true }
ntex-util = { workspace = true }
ntex-service = { workspace = true }
ntex-net = { workspace = true }

log = { workspace = true }

# openssl
tls_openssl = { workspace = true, optional = true }

# rustls
tls_rustls = { workspace = true, optional = true }

[dev-dependencies]
ntex = { workspace = true, features = ["openssl", "rustls"] }
env_logger = { workspace = true }
rustls-pemfile = { workspace = true }
webpki-roots = { workspace = true }
tls_rustls = { workspace = true, features = ["ring", "std"] }
