[package]
name = "ntex-tls"
version = "1.0.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "An implementation of SSL streams for ntex backed by OpenSSL"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-openssl/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
edition = "2021"

[lib]
name = "ntex_tls"
path = "src/lib.rs"

[features]
default = []

# openssl
openssl = ["tls_openssl"]

# rustls support
rustls = ["tls_rust"]

[dependencies]
ntex-bytes = "0.1.21"
ntex-io = "1.0.0"
ntex-util = "1.0.0"
ntex-service = "2.0.0"
log = "0.4"
pin-project-lite = "0.2"

# openssl
tls_openssl = { version = "0.10", package = "openssl", optional = true }

# rustls
tls_rust = { version = "0.21", package = "rustls", optional = true }

[dev-dependencies]
ntex = { version = "1.0.0-b.1", features = ["openssl", "rustls", "tokio"] }
env_logger = "0.10"
rustls-pemfile = "1.0"
webpki-roots = "0.25"
