[package]
name = "ntex-tls"
version = "2.2.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "An implementation of SSL streams for ntex backed by OpenSSL"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-openssl/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
edition = "2021"

[lib]
name = "ntex_tls"
path = "src/lib.rs"

[features]
default = []

# openssl
openssl = ["tls_openssl"]

# rustls support
rustls = ["tls_rust"]
rustls-default = ["tls_rust", "tls_rust/ring", "tls_rust/std"]

[dependencies]
ntex-bytes = "0.1"
ntex-io = "2.3"
ntex-util = "2"
ntex-service = "3"
ntex-net = "2"

log = "0.4"

# openssl
tls_openssl = { version = "0.10", package = "openssl", optional = true }

# rustls
tls_rust = { version = "0.23", package = "rustls", default-features = false, optional = true }

[dev-dependencies]
ntex = { version = "2", features = ["openssl", "rustls"] }
env_logger = "0.11"
rustls-pemfile = "2"
webpki-roots = "0.26"
tls_rust = { version = "0.23", package = "rustls", features = ["ring", "std"], default-features = false }
