[package]
name = "ntex-tls"
version = "0.1.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "An implementation of SSL streams for ntex backed by OpenSSL"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-openssl/"
categories = ["network-programming", "asynchronous"]
license = "MIT"
edition = "2018"

[lib]
name = "ntex_tls"
path = "src/lib.rs"

[features]
default = []

# openssl
openssl = ["tls_openssl"]

# rustls support
rustls = ["tls_rust", "webpki-roots"]

[dependencies]
ntex-bytes = "0.1.8"
ntex-io = "0.1.0-b.0"
ntex-util = "0.1.3"
ntex-service = "0.2.1"
pin-project-lite = "0.2"

# openssl
tls_openssl = { version="0.10", package = "openssl", optional = true }

# rustls
tls_rust = { version = "0.20", package = "rustls", optional = true }
webpki-roots = { version = "0.22", optional = true }

[dev-dependencies]
ntex = { version = "0.5.0-b.0", features = ["openssl", "rustls"] }
log = "0.4"
env_logger = "0.9"
