[package]
name = "ntex-router"
version = "0.4.3"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Path router"
keywords = ["ntex"]
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-router/"
license = "MIT"
edition = "2018"

[lib]
name = "ntex_router"
path = "src/lib.rs"

[features]
default = ["http"]

[dependencies]
serde = "1.0"
bytestring = "1.0"
log = "0.4"
http = { version = "0.2", optional = true }
regex = { version = "1.4.5", default-features = false, features = ["std"] }

[dev-dependencies]
http = "0.2"
serde_derive = "1.0"
