[package]
name = "ntex-router"
version = "1.0.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Path router"
keywords = ["ntex"]
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-router/"
license = "MIT OR Apache-2.0"
edition = "2024"
rust-version = "1.86"

[lib]
name = "ntex_router"
path = "src/lib.rs"

[features]
default = ["http"]

[dependencies]
ntex-bytes = { workspace = true }
serde = { workspace = true }
log = { workspace = true }
http = { workspace = true, optional = true }
regex = { workspace = true }

[dev-dependencies]
http = { workspace = true }
serde_derive = { workspace = true }
