[package]
name = "ntex-net"
version = "2.5.25"
authors = ["ntex contributors <team@ntex.rs>"]
description = "ntexwork utils for ntex framework"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-connect/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.75"

[lib]
name = "ntex_net"
path = "src/lib.rs"

[features]
default = []

# tokio runtime
tokio = ["ntex-rt/tokio", "ntex-tokio"]

# compio runtime
compio = ["ntex-rt/compio", "ntex-compio"]

# neon runtime
neon = ["ntex-rt/neon", "ntex-neon", "slab", "socket2"]

io-uring = ["ntex-neon/io-uring", "socket2"]
io-uring-compat = []

[dependencies]
ntex-service = "3.3"
ntex-bytes = "0.1"
ntex-http = "0.1"
ntex-io = "2.12.1"
ntex-rt = "0.4.30"
ntex-util = "2.5"

ntex-tokio = { version = "0.5.3", optional = true }
ntex-compio = { version = "0.3.0", optional = true }
ntex-neon = { version = "0.1.28", optional = true }

bitflags = { workspace = true }
cfg-if = { workspace = true }
log = { workspace = true }
libc = { workspace = true }
slab = { workspace = true, optional = true }
socket2 = { workspace = true, optional = true, features = ["all"] }
thiserror = { workspace = true }

[dev-dependencies]
ntex = "2"
oneshot = "0.1"
