[package]
name = "ntex-net"
version = "3.5.1"
authors = ["ntex contributors <team@ntex.rs>"]
description = "ntexwork utils for ntex framework"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-connect/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
edition = "2024"
rust-version = "1.86"

[lib]
name = "ntex_net"
path = "src/lib.rs"

[features]
default = []

# tokio runtime
tokio = ["ntex-rt/tokio", "tok-io"]

# compio runtime
compio = ["ntex-rt/compio", "compio-net", "compio-driver", "compio-runtime", "compio-buf", "compio-io"]

# neon runtime (deprecated)
neon = []

# io-uring only
neon-uring = []

# polling only
neon-polling = []

[dependencies]
ntex-service = "4"
ntex-bytes = "1"
ntex-http = "1"
ntex-io = "3.3.1"
ntex-rt = "3.4"
ntex-util = "3"

bitflags = { workspace = true }
cfg-if = { workspace = true }
log = { workspace = true }
libc = { workspace = true }
slab = { workspace = true }
socket2 = { workspace = true, features = ["all"] }
thiserror = { workspace = true }
scoped-tls = { workspace = true }
polling = { version = "3.10.0", package = "ntex-polling" }

compio-buf = { version = "0.7", optional = true }
compio-io = { version = "0.8", optional = true }
compio-net = { version = "0.10", optional = true }
compio-driver = { version = "0.10", optional = true }
compio-runtime = { version = "0.10", optional = true }
tok-io = { version = "1", package = "tokio", default-features = false, features = [
    "rt",
    "net",
], optional = true }

# Linux specific dependencies
[target.'cfg(target_os = "linux")'.dependencies]
io-uring = { version = "0.7.120", package = "ntex-io-uring", features = ["direct-syscall"] }

[dev-dependencies]
ntex = "3.0.0-pre.10"
ntex-rt = "3.4"
ntex-server = "3.4"
oneshot = "0.1"
