[package]
name = "ntex-rt"
version = "0.4.25"
authors = ["ntex contributors <team@ntex.rs>"]
description = "ntex runtime"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-rt/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
build = "build.rs"
edition = "2021"
rust-version = "1.75"

[lib]
name = "ntex_rt"
path = "src/lib.rs"

[features]
default = []

# glommio support
glommio = ["glomm-io", "futures-channel"]

# tokio support
tokio = ["tok-io"]

# compio support
compio = ["compio-driver", "compio-runtime"]

# default ntex runtime
default-rt = ["ntex-runtime", "ntex-iodriver"]

# async-std support
async-std = ["async_std/unstable"]

[dependencies]
async-channel = "2"
futures-core = "0.3"
log = "0.4"
oneshot = "0.1"

async_std = { version = "1", package = "async-std", optional = true }
compio-driver = { version = "0.6", optional = true }
compio-runtime = { version = "0.6", optional = true }
tok-io = { version = "1", package = "tokio", default-features = false, features = [
    "rt",
    "net",
], optional = true }

ntex-runtime = { version = "0.1", optional = true }
ntex-iodriver = { version = "0.1", optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
glomm-io = { version = "0.9", package = "glommio", optional = true }
futures-channel = { version = "0.3", optional = true }
