[package]
name = "ntex-rt"
version = "3.7.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "ntex runtime"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-rt/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
build = "build.rs"
edition = "2024"
rust-version = "1.88"

[lib]
name = "ntex_rt"
path = "src/lib.rs"

[lints]
workspace = true

[features]
default = []

# tokio support
tokio = ["tok-io"]

# compio support
compio = ["compio-driver", "compio-runtime"]

# neon runtime (deprecated)
neon = []

[dependencies]
ntex-service = { workspace = true }

async-channel = { workspace = true }
async-task = { workspace = true }
crossbeam-queue = { workspace = true }
crossbeam-channel = { workspace = true }
foldhash = { workspace = true }
futures-timer = { workspace = true }
oneshot = { workspace = true }
log = { workspace = true }
scoped-tls = { workspace = true }
swap-buffer-queue = { workspace = true }

compio-driver = { workspace = true, optional = true }
compio-runtime = { workspace = true, optional = true }
tok-io = { workspace = true, features = ["rt", "net"], optional = true }

[dev-dependencies]
ntex = { workspace = true }
