[package]
name = "ntex-rt"
version = "0.2.2"
authors = ["ntex contributors <team@ntex.rs>"]
description = "ntex runtime"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://ntex.rs"
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex-rt/"
categories = ["network-programming", "asynchronous"]
license = "MIT"
edition = "2018"

[lib]
name = "ntex_rt"
path = "src/lib.rs"

[dependencies]
ntex-util = "0.1.0"
tokio = { version = "1", default-features = false, features = ["rt", "net", "time", "signal", "sync"] }
