[package]
name = "ntex-bytes"
version = "0.1.21"
license = "MIT"
authors = ["Nikolay Kim <fafhrd91@gmail.com>", "Carl Lerche <me@carllerche.com>"]
description = "Types and traits for working with bytes (bytes crate fork)"
documentation = "https://docs.rs/ntex-bytes"
repository = "https://github.com/ntex-rs"
readme = "README.md"
keywords = ["buffers", "zero-copy", "io"]
categories = ["network-programming", "data-structures"]
edition = "2021"

[features]
default = []

# simd utf8 check support
simd = ["simdutf8"]

[dependencies]
bitflags = "2.4"
bytes = "1"
serde = "1"
futures-core = { version = "0.3", default-features = false, features = ["alloc"] }
simdutf8 = { version = "0.1.4", optional = true }

[dev-dependencies]
serde_test = "1.0"
serde_json = "1.0"
ntex = { version = "1.0.0-b.0", features = ["tokio"] }
