[package]
name = "ntex"
version = "3.0.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Framework for composable network services"
readme = "README.md"
keywords = ["ntex", "networking", "framework", "async", "futures"]
repository = "https://github.com/ntex-rs/ntex"
documentation = "https://docs.rs/ntex/"
categories = [
    "network-programming",
    "asynchronous",
    "web-programming::http-server",
    "web-programming::websocket",
]
license = "MIT OR Apache-2.0"
edition = "2024"
rust-version = "1.88"

[package.metadata.docs.rs]
toolchain = "nightly"
features = ["tokio", "openssl", "rustls", "compress", "cookie", "ws", "ntex-tls/rustls-ring"]
rustc-args = ["--cfg", "docsrs_dep"]
rustdoc-args = ["--cfg", "docsrs_dep"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(docsrs_dep)'] }

[lib]
name = "ntex"
path = "src/lib.rs"

[features]
default = ["ws"]

# openssl
openssl = ["tls_openssl", "ntex-tls/openssl"]

# rustls support
rustls = ["tls_rustls", "webpki-roots", "ntex-tls/rustls"]

# enable compressison support
compress = ["flate2"]

# enable cookie support
cookie = ["coo-kie", "coo-kie/percent-encode"]

# url support
url = ["url-pkg"]

# tokio runtime
tokio = ["ntex-net/tokio"]

# compio runtime
compio = ["ntex-net/compio"]

# neon runtime
neon = []

# neon polling runtime
neon-polling = ["ntex-net/neon-polling"]

# neon io-uring runtime
neon-uring = ["ntex-net/neon-uring"]

# websocket support
ws = ["dep:sha1"]

# disable [ntex::test] logging configuration
no-test-logging = []

[dependencies]
ntex-bytes = { workspace = true }
ntex-codec = { workspace = true }
ntex-dispatcher = { workspace = true }
ntex-http = { workspace = true }
ntex-router = { workspace = true }
ntex-service = { workspace = true }
ntex-macros = { workspace = true }
ntex-util = { workspace = true }
ntex-server = { workspace = true }
ntex-h2 = { workspace = true }
ntex-rt = { workspace = true }
ntex-io = { workspace = true }
ntex-net = { workspace = true }
ntex-tls = { workspace = true }

base64 = { workspace = true }
bitflags = { workspace = true }
log = { workspace = true }
pin-project-lite = { workspace = true }
regex = { workspace = true }
serde = { workspace = true }
sha1 = { workspace = true, optional = true }
env_logger = { workspace = true }
thiserror = { workspace = true }
nanorand = { workspace = true }
variadics_please = { workspace = true }
uuid = { workspace = true }

# http/web framework
httparse = { workspace = true }
httpdate = { workspace = true }
encoding_rs = { workspace = true }
mime = { workspace = true }
percent-encoding = { workspace = true }
serde_json = { workspace = true }
serde_urlencoded = { workspace = true }
url-pkg = { workspace = true, optional = true }
coo-kie = { workspace = true, optional = true }

# openssl
tls_openssl = { workspace = true, optional = true }

# rustls
tls_rustls = { workspace = true, optional = true }
webpki-roots = { workspace = true, optional = true }

# compression
flate2 = { version = "1.0", optional = true }

[dev-dependencies]
rand = { workspace = true }
time = { workspace = true }
oneshot = { workspace = true }
futures-util = { workspace = true }
tls_openssl = { workspace = true }
tls_rustls = { workspace = true, features = ["ring", "std"] }
rustls-pemfile = { workspace = true }
webpki-roots = { workspace = true }
