[package]
name = "ntex"
version = "0.5.5"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Framework for composable network services"
readme = "README.md"
keywords = ["ntex", "networking", "framework", "async", "futures"]
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex/"
categories = ["network-programming", "asynchronous",
              "web-programming::http-server",
              "web-programming::websocket"]
license = "MIT"
edition = "2018"

[package.metadata.docs.rs]
features = ["openssl", "rustls", "compress", "cookie"]

[lib]
name = "ntex"
path = "src/lib.rs"

[features]
default = []

# openssl
openssl = ["tls-openssl", "ntex-tls/openssl"]

# rustls support
rustls = ["tls-rustls", "ntex-tls/rustls"]

# enable compressison support
compress = ["flate2", "brotli2"]

# enable cookie support
cookie = ["coo-kie", "coo-kie/percent-encode"]

# url support
url = ["url-pkg"]

# tokio runtime
tokio = ["ntex-rt/tokio"]

# async-std runtime
async-std = ["ntex-rt/async-std", "ntex-async-std"]

[dependencies]
ntex-codec = "0.6.0"
ntex-router = "0.5.1"
ntex-service = "0.3.1"
ntex-macros = "0.1.3"
ntex-util = "0.1.6"
ntex-bytes = "0.1.8"
ntex-tls = "0.1.0"
ntex-rt = "0.4.1"
ntex-io = "0.1.1"
ntex-tokio = "0.1.0"
ntex-async-std = { version = "0.1.0", optional = true }

base64 = "0.13"
bitflags = "1.3"
derive_more = "0.99"
futures-core = { version = "0.3", default-features = false, features = ["alloc"] }
futures-sink = { version = "0.3", default-features = false, features = ["alloc"] }
log = "0.4"
num_cpus = "1.13"
nanorand = { version = "0.6.1", default-features = false, features = ["std", "wyrand"] }
polling = "2.2.0"
pin-project-lite = "0.2"
regex = { version = "1.5.4", default-features = false, features = ["std"] }
sha-1 = "0.10"
slab = "0.4"
serde = { version = "1.0", features=["derive"] }
socket2 = "0.4"

async-oneshot = "0.5.0"
async-channel = "1.6.1"

# http/web framework
h2 = "0.3.9"
http = "0.2"
httparse = "1.5.1"
httpdate = "1.0"
encoding_rs = "0.8"
mime = "0.3"
percent-encoding = "2.1"
serde_json = "1.0"
serde_urlencoded = "0.7"
url-pkg = { version = "2.1", package = "url", optional = true }
coo-kie = { version = "0.16", package = "cookie", optional = true }

# openssl
tls-openssl = { version="0.10", package = "openssl", optional = true }

# rustls
tls-rustls = { version = "0.20", package = "rustls", optional = true }

# compression
brotli2 = { version="0.3.2", optional = true }
flate2 = { version = "1.0.22", optional = true }

[dev-dependencies]
env_logger = "0.9"
rand = "0.8"
time = "0.3"
futures = "0.3"
tls-openssl = { version="0.10", package = "openssl" }
tls-rustls = { version = "0.20", package="rustls", features = ["dangerous_configuration"]  }
rustls-pemfile = { version = "0.2" }
webpki-roots = { version = "0.22" }
