[package]
name = "ntex"
version = "2.11.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Framework for composable network services"
readme = "README.md"
keywords = ["ntex", "networking", "framework", "async", "futures"]
repository = "https://github.com/ntex-rs/ntex"
documentation = "https://docs.rs/ntex/"
categories = [
    "network-programming",
    "asynchronous",
    "web-programming::http-server",
    "web-programming::websocket",
]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.75"

[package.metadata.docs.rs]
features = ["tokio", "openssl", "rustls", "compress", "cookie", "ws", "brotli", "ntex-tls/rustls-ring"]

[lib]
name = "ntex"
path = "src/lib.rs"

[features]
default = ["ws"]

# openssl
openssl = ["tls-openssl", "ntex-tls/openssl"]

# rustls support
rustls = ["tls-rustls", "webpki-roots", "ntex-tls/rustls"]

# enable compressison support
compress = ["flate2"]

# enable cookie support
cookie = ["coo-kie", "coo-kie/percent-encode"]

# url support
url = ["url-pkg"]

# tokio runtime
tokio = ["ntex-net/tokio", "ntex-macros/tokio"]

# glommio runtime
glommio = ["ntex-net/glommio", "ntex-macros/glommio"]

# async-std runtime
async-std = ["ntex-net/async-std", "ntex-macros/async-std"]

# compio runtime
compio = ["ntex-net/compio", "ntex-macros/compio"]

# websocket support
ws = ["dep:sha-1"]

# brotli2 support
brotli = ["dep:brotli2"]

[dependencies]
ntex-codec = "0.6"
ntex-http = "0.1.13"
ntex-router = "0.5"
ntex-service = "3.4"
ntex-macros = "0.1"
ntex-util = "2.8"
ntex-bytes = "0.1.27"
ntex-server = "2.6"
ntex-h2 = "1.5"
ntex-rt = "0.4.22"
ntex-io = "2.9"
ntex-net = "2.4"
ntex-tls = "2.3"

base64 = "0.22"
bitflags = "2"
bytes = "1"
log = "0.4"
pin-project-lite = "0.2"
regex = { version = "1.11", default-features = false, features = ["std"] }
serde = { version = "1", features = ["derive"] }
sha-1 = { version = "0.10", optional = true }
thiserror = "1"
nanorand = { version = "0.7", default-features = false, features = [
    "std",
    "wyrand",
] }

# http/web framework
httparse = "1.9"
httpdate = "1.0"
encoding_rs = "0.8"
mime = "0.3"
percent-encoding = "2.3"
serde_json = "1"
serde_urlencoded = "0.7"
url-pkg = { version = "2.5", package = "url", optional = true }
coo-kie = { version = "0.18", package = "cookie", optional = true }

# openssl
tls-openssl = { version = "0.10", package = "openssl", optional = true }

# rustls
tls-rustls = { version = "0.23", package = "rustls", optional = true, default-features = false }
webpki-roots = { version = "0.26", optional = true }

# compression
brotli2 = { version = "0.3.2", optional = true }
flate2 = { version = "1.0", optional = true }

[dev-dependencies]
env_logger = "0.11"
rand = "0.8"
time = "0.3"
futures-util = "0.3"
tls-openssl = { version = "0.10", package = "openssl" }
tls-rustls = { version = "0.23", package = "rustls", features = ["ring", "std"], default-features = false }
rustls-pemfile = "2"
webpki-roots = "0.26"
