[package]
name = "ntex"
version = "0.4.8"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Framework for composable network services"
readme = "README.md"
keywords = ["ntex", "networking", "framework", "async", "futures"]
repository = "https://github.com/ntex-rs/ntex.git"
documentation = "https://docs.rs/ntex/"
categories = ["network-programming", "asynchronous",
              "web-programming::http-server",
              "web-programming::websocket"]
license = "MIT"
edition = "2018"

[package.metadata.docs.rs]
features = ["openssl", "rustls", "compress", "cookie"]

[lib]
name = "ntex"
path = "src/lib.rs"

[features]
default = ["http-framework"]

# openssl
openssl = ["open-ssl", "tokio-openssl"]

# rustls support
rustls = ["rust-tls", "webpki", "webpki-roots", "tokio-rustls"]

# enable compressison support
compress = ["flate2", "brotli2"]

# enable cookie support
cookie = ["coo-kie", "coo-kie/percent-encode"]

# url support
url = ["url-pkg"]

# enable http/web support
http-framework = ["h2", "http", "httparse",
    "httpdate", "encoding_rs", "mime", "percent-encoding", "serde_json", "serde_urlencoded"]

[dependencies]
ntex-codec = "0.5.1"
ntex-rt = "0.3.1"
ntex-router = "0.5.1"
ntex-service = "0.2.1"
ntex-macros = "0.1.3"
ntex-util = "0.1.1"
ntex-bytes = "0.1.4"

base64 = "0.13"
bitflags = "1.3"
derive_more = "0.99.14"
fxhash = "0.2.1"
futures-core = { version = "0.3.16", default-features = false, features = ["alloc"] }
futures-sink = { version = "0.3.16", default-features = false, features = ["alloc"] }
log = "0.4"
mio = "0.7.11"
num_cpus = "1.13"
nanorand = { version = "0.6.1", default-features = false, features = ["std", "wyrand"] }
pin-project-lite = "0.2"
regex = { version = "1.5.4", default-features = false, features = ["std"] }
sha-1 = "0.9"
slab = "0.4"
serde = { version = "1.0", features=["derive"] }
socket2 = "0.4"

async-oneshot = "0.5.0"
async-channel = "1.6.1"

# http/web framework
h2 = { version = "0.3", optional = true }
http = { version = "0.2", optional = true }
httparse = { version = "1.5.1", optional = true }
httpdate = { version = "1.0", optional = true }
encoding_rs = { version = "0.8", optional = true }
mime = { version = "0.3", optional = true }
percent-encoding = { version = "2.1", optional = true }
serde_json = { version = "1.0", optional = true }
serde_urlencoded = { version = "0.7", optional = true }
url-pkg = { version = "2.1", package = "url", optional = true }
coo-kie = { version = "0.15", package = "cookie", optional = true }

# openssl
open-ssl = { version="0.10", package = "openssl", optional = true }
tokio-openssl = { version = "0.6.2", optional = true }

# rustls
rust-tls = { version = "0.19", package = "rustls", optional = true }
webpki = { version = "0.21", optional = true }
webpki-roots = { version = "0.21", optional = true }
tokio-rustls = { version = "0.22", optional = true }

# compression
brotli2 = { version="0.3.2", optional = true }
flate2 = { version = "1.0.20", optional = true }

[dev-dependencies]
env_logger = "0.9"
rand = "0.8"
time = "0.2"
open-ssl = { version="0.10", package = "openssl" }
rust-tls = { version = "0.19", package="rustls", features = ["dangerous_configuration"]  }
webpki = "0.21"
futures = "0.3.16"
